:root{
  --COLOR-BROWN-LIGTH: #eec79b;
  --COLOR-BROWN-DARK: #b38e62;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0f0c11;
  color: var(--COLOR-BROWN-LIGTH);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.logo {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  text-align: center;
}
.headliner-name{
  font-size: 1.4em;
  margin: 0 0 5px;
  color: var(--COLOR-BROWN-DARK)
}
.headliner-qualification{
  font-size: 3em;
}


.logo ul, .logo li {
  position: absolute;
  list-style: none;
}
.icon-linkedin img {
  transform: scale(0.85);
}
.icon-mail, .icon-github, .icon-linkedin {
  position: absolute;
  width: 64px;
  height: 64px;
  transform: scale(0.8);
}
.icon-mail {
  right: 180px;
  top: -269px;
}
.icon-github {
  right: -221px;
  top: -194px;
}
.icon-linkedin {
  right: 160px;
  top: -12px;
}
.icon-mail::before, .icon-github::before, .icon-linkedin::before {
  content: "";
  width: 150%;
  height: 150%;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  position: absolute;
  z-index: -2;
  right: -25%;
  top: -25%;
}
.icon-mail::before{
  background-color: #da70d6;
}
.icon-github::before{
  background-color: #8b5cb3;
}
.icon-linkedin::before{
  background-color: #6766b4;
}







.logo-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(0, 0, 0, 0.3);
}
.logo-image-div{
  position: relative;
  padding: 40px 0;
}
.logo-image-div::before {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  right: 6px;
  top: 28px;
  z-index: -1;
  border-radius: 50%;
  opacity: 30%;
  background-color: #ffad49;
}
.logo-image-div::after {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 6px;
  bottom: 28px;
  z-index: -1;
  border-radius: 50%;
  opacity: 30%;
  background-color: #4d3211;
}






.info {
  display: flex;
  flex-flow: column;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}
.info div {
  width: 70%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 50px 0 70px;
}
.info h3 {
  color: var(--COLOR-BROWN-DARK);
  margin: 0;
}
.info div:not(h3){
  margin-top: 0.5em;
}
.list-skills {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  flex-grow: 1;
  column-gap: 5em;
  justify-content: center;
  align-items: center;
}
.list-skills li{
  display: block;
  width: 25%;
  margin: 0.5em 0;
}
